.show-detail-container {
    padding: 20px;
  }
  
  .employee-info {
    margin-bottom: 20px;
  }
  
  .tasks-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin-bottom: 20px;
  }
  